{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "compact": false,
  "sourceMaps": "both",
  "plugins": [
    ["transform-import-to-read-file-sync", {
      test: "\\.graphql$",
      options: "utf8"
    }],
    "@babel/plugin-proposal-object-rest-spread",
  ]
}
